@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap');
:root{


--Neutral900: hsl(227, 75%, 14%);
--Neutral800: hsl(226, 25%, 17%);
--Neutral700: hsl(225, 23%, 24%);
--Neutral600: hsl(226, 11%, 37%);
--Neutral300: hsl(0, 0%, 78%);
--Neutral200: hsl(217, 61%, 90%);
--Neutral100: hsl(0, 0%, 93%);
--Neutral0: hsl(200, 60%, 99%);


--Red400: hsl(3, 86%, 64%);
--Red500: hsl(3, 71%, 56%);
--Red700: hsl(3, 77%, 44%);



--LightGradient: `linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)`;
--DarkGradient: `linear-gradient(180deg, #040918 0%, #091540 100%)`;
font-size: 16px;
font-family: 'Noto Sans', sans-serif;
color:var(--Neutral0)
}

body{
    background-color: var(--Neutral900);
    
}
main{
    width:90%;
    margin: 0 auto;
    padding: 0 2rem;
}
.settings-bar{
    display:flex;
    flex-direction: row;
    height:fit-content;
    margin:2rem auto;
    background-color: var(--Neutral800);
    padding: 0 2rem;
    border-radius: 8px;
}

nav{
display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
 width:100%;
  border-radius: 8px;
  height: 3rem;
}
nav ul{ display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;}
nav li{
    background-color: var(--Neutral800);
    height:fit-content;
    width: fit-content;
    padding:0.8rem;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}
nav li:hover{
    background: var(--Red500);
}
